*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: inherit;
  min-height: 100vh; }

html {
  font-size: 62.5%; }

@media screen and (max-width: 23em) {
  html {
    font-size: 50%; } }

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400; }

.josefin-sans-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; }

.hero {
  height: 65rem;
  padding: 4rem 2.4rem;
  background-image: url(../../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 43.75em) {
    .hero {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/desktop/image-hero.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }
  @media screen and (min-width: 64em) {
    .hero {
      padding: 6.4rem 16.5rem; } }
  .hero__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16.3rem; }
  .hero__logo {
    width: 14.4rem; }
  .hero__heading {
    color: white;
    font-size: clamp(4rem, 10.66667vw, 7.2rem);
    line-height: calc(38 / 40);
    padding: 2.6rem 2.4rem;
    border: 2px solid white;
    max-width: 65rem; }
    @media screen and (min-width: 43.75em) {
      .hero__heading {
        padding: 4rem; } }

.leader {
  padding: 9.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem; }
  .leader__image {
    width: 100%;
    max-width: 73.1rem; }
  .leader__text-container {
    text-align: center;
    display: grid;
    gap: 1.6rem;
    padding: 0 2.4rem; }
  .leader__heading {
    font-size: clamp(3.2rem, 8.53333vw, 4.8rem); }
  .leader__paragraph {
    font-size: 1.5rem;
    color: dimgray;
    line-height: calc(25 / 15); }
